<p id="notice"><%= notice %></p>

<h1>Author's All Posts:</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Published</th>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <!-- <td><%= post.body %></td> -->
        <td><%= post.published %></td>
        <td><%= link_to t('show'), author_post_path(post) %></td>
        <td><%= link_to t('edit'), edit_author_post_path(post) %></td>
        <td><%= link_to t('delete'), author_post_path(post), method: :delete, data:{ confirm: t('are_you_sure_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('new_post'), new_author_post_path %>
