<p id="notice"><%= notice %></p>

<h1>Detail:</h1>
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<br>
<%= link_to t('edit'), edit_author_post_path(@post) %>
<%= link_to t('return'), author_posts_path %>
